<div class="ap" *ngIf="each_article_data">
  <h1 class="ap-title"> {{each_article_data.title}} </h1>
  <div class="ap-container">
    <div class="ap-left">
      <div class="ap-image">
        <img src={{each_article_data.image}}>

      </div>
      <div class="article-content" *ngIf="each_article_data && each_article_data.metadata && each_article_data.metadata.content">
        <div class="article-each-para" *ngFor="let each_para of each_article_data.metadata.content">
          <div *ngIf="each_para">
            <div *ngIf="each_para.image" style="display: flex; margin: 20px">
                <img [src]="each_para.image"/>
            </div>
            <div *ngIf="each_para.headline" style="font-weight: 700; color: black; line-height: 1.5em"> {{each_para.headline}} </div>
            <div *ngIf="each_para.content"> {{each_para.content}}</div>
            <div *ngIf="!each_para.headline && !each_para.content"> {{each_para}} </div>
            <div *ngIf="each_para.ad"> {{each_para.ad}}</div>
          </div>
        </div>

      </div>
      <app-scroller *ngIf="trending_articles" [articlesList]="trending_articles"></app-scroller>

    </div>
    <div class="ap-right" #adPlacement>
      <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=14&l=ur1&category=freetime&banner=1RAR1MZV15CFJPACD002&f=ifr&linkID=ce31df54dc4c0d724837152f5ace47b5&t=glamfitwell-20&tracking_id=glamfitwell-20" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
  </div>

</div>

