@import "../../../styles";
.ap{
  margin: auto;
  bottom: 10px;
  position: relative;
}

.ap-title{
  color: @brand-text;
  margin: 20px auto;
}

.ap-container{
  width: 100%;
  display: flex;
}

.article-content{
  width: 100%;
  text-align: justify;
}
.article-each-para{
  font-size: 22px;
  margin: 20px 0;
  line-height: 1.5em;
  color: @brand-text;
  text-indent: 50px;
}
.ap-left{
  width: calc(100% - 340px);
}
.ap-right{
  margin-left: 20px;
}

.ap-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.ap-image{
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 767px) {
  .ap{
    width: 100%;
  }
  .ap-title{
    width: 90%;
  }
  .ap-image{
    height: 300px;
  }
  .ap-left{
    width: 100%;
  }
  .ap-container{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .ap-right{
    display: none;
  }
  .article-each-para{
    font-size: 18px;
  }

}

@media screen and (min-width: 768px) {
  .ap{
    width: 100%;
  }
  .ap-left{
    width: 100%;
  }
  .ap-title{
    width: 90%;
  }
  .ap-container{
    width: 90%;
    margin: auto;
  }
  .ap-right{
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .ap{
    width: 100%;
    max-width: 970px
  }
  .ap-title{
    width: 100%;
  }
  .ap-left{
    width: calc(100% - 340px);
  }
  .ap-right{
    display: flex;
    flex-direction: column;
  }
  .ap-container{
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .ap{
    width: 100%;
    max-width: 1250px;
  }
  .ap-container{
    flex-direction: row;

  }

}
