<div class="trending">
  <div class="trending-title"> Trending Today ... </div>
  <div class="trending-content">
    <div class="trending-content-arrow" #left_arrow style="float: left;" (click)="this.scrollerLeftClick($event)">
      <i class="fas fa-angle-left"></i>

    </div>
    <div class="trending-content-arrow" #right_arrow style="float: right; right: 0" (click)="this.scrollerRightClick($event)">
      <i class="fas fa-angle-right"></i>

    </div>

    <div class="trending-scroll" #trending_scroller>
      <div class="p_article_lists" *ngFor="let eachArticle of articlesList; let i = index">
        <div class="p_article_lists-each" *ngIf=" eachArticle && eachArticle.image  && eachArticle.title && eachArticle.image != '' && eachArticle.title != '' ">
          <div class="p_article_lists-img">
            <img [src]="eachArticle.image" />
          </div>
          <div class="p_article_lists-title">
            {{eachArticle.title}}
          </div>
          <div class="p_article_lists-body">
            {{eachArticle.description}}
          </div>
          <div class="p_article_lists-btn" *ngIf="eachArticle.type == 'slide-show'" [routerLink]="[eachArticle.scope,eachArticle.id,'slides']">
            Read More ...
          </div>
          <div class="p_article_lists-btn" *ngIf="eachArticle.type == 'article'" [routerLink]="[eachArticle.scope,eachArticle.id]">
            Read More ...
          </div>
        </div>


      </div>

    </div>

  </div>

</div>
