@import "../../../styles";
/*@keyframes slide {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -100px;
    }
    100% {
        margin-left: -200px;
    }
}*/

.trending {
  width: 100%;
  height:auto;
  margin: 10px auto;
}

.trending-title{
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: 700;
  color: @brand-text;
  padding-left: 20px;
}
.trending-content{
  width: 100%;
  white-space: nowrap;
  color: white;
  font-size: 35px;
  position: relative;
}

.trending-content-arrow {
  width: 50px;
  height: 100%;
  position: absolute;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.trending /deep/ .p_article_lists{
  display: inline-flex !important;
  float: none !important;
}
.trending-scroll{
  width: calc(100% - 100px);
  overflow-x: scroll;
  margin: auto;
  background-color: @brand-color-2
}

.trending-scroll:hover{

}

.p_article_lists-each{
  width:265px;
  height:400px;
  background-color: @brand-color-2;
  border: 3px solid @brand-color;
  margin: 15px;
  cursor:pointer;
  overflow: hidden;
}

.p_article_lists-img{
  width:calc(100% - 20px);
  height:50%;
  border-bottom: 1px solid white;
  overflow: hidden;
  margin: 12px auto;
  border-radius: 50%;
}

.p_article_lists-img img{
  width:100%;
  height:100%
}

.p_article_lists-title{
  width:90%;
  height:auto;
  max-height: 50px;
  margin: auto;
  font-size: 18px;
  font-family: cursive;
  font-weight: 700;
  color: black;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.35em;
  margin-bottom: 5px;
  white-space: normal;
}

.p_article_lists-body{
  width:90%;
  height:auto;
  max-height: 70px;
  margin: auto;
  font-size: 14px;
  font-family: fantasy;
  font-weight: 400;
  color: @brand-text;
  text-overflow: ellipsis;
  line-height: 1.8em;
  overflow: hidden;
  text-align: justify;
  white-space: normal;

}

.p_article_lists-body:first-letter{
  font-size: 2em;

}

.p_article_lists-btn{
  width: 80%;
  font-size:14px;
  font-family:cursive;;
  font-weight: 700;
  color: black;
  background-color: @brand-color;
  border-radius: 2px;
  line-height: 2em;
  margin: 12px auto;
  text-align: center;
  border: 1px solid white;
}

.p_article_lists-btn:hover{
  background-color: black;
  color: @brand-color-2;
}
