.pp-wrapper {
  width:970px;
  height: 700px;
}

#myframe {
  width: 100%;
  height: 100%;

}

@media screen and (max-width: 767px) {
  .pp-wrapper {
    width:300px;
    height: 400px;
  }

}

@media screen and (min-width: 768px) {
  .pp-wrapper {
    width:750px;
    height: 600px;
  }

}
@media screen and (min-width: 992px) {
  .pp-wrapper {
    width:970px;
    height: 700px;
  }
}

@media screen and (min-width: 1281px) {

}
