@import "../../../styles";
.ss{
  margin: auto;
}

.ss-title{
  color: var(--brand-text);
  margin: 20px auto;
}

.ss-container{
  width: 100%;
  display: flex;
}
.slide-button {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid black;
}

.slide-button:hover{
  background-color: black;
  color: white;
}

.slide-button-start {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid black;

}

.slide-button-start:hover{
  background-color: black;
  color: white;
}


.slides-content{
  width: 100%;
  text-align: justify;
}
.slides-each-para{
  font-size: 20px;
  margin: 20px 0;
  line-height: 1.5em;
  color: var(--brand-text);
  text-indent: 50px;
}
.slide-button-center{
  display: flex;
  align-items: center;
  margin: 50px auto;
}
.slide-link {
  color: black;
  line-height: 2em;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.ss-left{
  width: calc(100% - 340px);
}
.ss-right{
  margin-left: 20px;
}

.ss-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.ss-image{
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 767px) {
  .ss{
    width: 100%;
  }
  .ss-title{
    width: 90%;
  }
  .ss-image{
    height: 300px;
  }
  .ss-left{
    width: 100%;
  }
  .ss-container{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .ss-right{
    display: none;
  }
  .slides-each-para{
    font-size: 20px;
  }
  .slide-button{
    width: 100px;
  }

}

@media screen and (min-width: 768px) {
  .ss{
    width: 100%;
  }
  .ss-left{
    width: 100%;
  }
  .ss-title{
    width: 90%;
  }
  .ss-container{
    width: 90%;
    margin: auto;
  }
  .ss-right{
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .ss{
    width: 100%;
    max-width: 970px
  }
  .ss-title{
    width: 100%;
  }
  .ss-left{
    width: calc(100% - 340px);
  }
  .ss-right{
    display: flex;
    flex-direction: column;
  }
  .ss-container{
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .ss{
    width: 100%;
    max-width: 1250px;
  }
  .ss-container{
    flex-direction: row;

  }

}
