<div class="ss" *ngIf="slides_data">
  <h1 class="ss-title"> {{slides_data.title}} </h1>
  <div class="ss-container">
    <div class="ss-left" *ngIf="slide_id === undefined">
      <div class="ss-image">
        <img src={{slides_data.image}}>
      </div>
      <div class="slides-each-para"> {{slides_data.description}} </div>
      <div class="slide-button-center">
        <div class="slide-button-start" (click)="startCounter()"> Start Slideshow </div>
      </div>
    </div>
    <div class="ss-left" *ngIf="slide_id !== undefined && slides_metadata[slide_id-1]">
      <div class="ss-image">
        <img [src]="slides_metadata[slide_id-1].image">
      </div>
      <a class="slide-link" [href]="slides_metadata[slide_id-1].imageLink" target="_blank"> {{slides_metadata[slide_id-1].imageCR}} </a>
      <div class="slides-each-para" style="font-weight: 700"> {{slides_metadata[slide_id-1].headline}} </div>
      <div class="slides-each-para"> {{slides_metadata[slide_id-1].content}} </div>
      <div class="slide-button-center">
        <div class="slide-button" (click)="slideDecrement()"> Previous </div>
        <div>{{slide_id}} of {{slides_metadata.length}}</div>
        <div class="slide-button" (click)="slideIncrement()" *ngIf="slide_id !== slides_metadata.length"> Next </div>
        <div class="slide-button" *ngIf="slide_id === slides_metadata.length"> Next Post </div>
      </div>
    </div>
    <div class="ss-right" #adPlacement>
      <script id="mNCC" language="javascript">
        medianet_width = "160";
        medianet_height = "600";
        medianet_crid = "721111010";
        medianet_versionId = "3111299";
      </script>
      <script src="//contextual.media.net/nmedianet.js?cid=8CURP830V"></script>
      <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=49&l=ur1&category=pantry&banner=0MGE3G18F7FD6RB77QG2&f=ifr&linkID=e918dbe051109bb36dcd7c5f107af011&t=glamfitwell-20&tracking_id=glamfitwell-20" width="300" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
  </div>
</div>
