@import "../styles";
.bn-header{
  width: 100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @brand-color;
  padding: 10px;

}

.gfw-title{
  width: 200px;
  height: 50px;
  display: flex;
  color: @brand-text
}

.gfw-title-left{
  width: 60%;
  font-size: 50px;
  height: 100%;
  margin-right: 8px;

}
.gfw-title-right{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bn-footer{
  font-size: 20px;
  width: 100%;
  background-color: @brand-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom:0;
}


.bn-footer .each-policy{
  line-height: 1.5em;
  cursor: pointer;
}

.bn-bg-wrap{
  background-color: @brand-color-2;
  margin: 10px 15px;
  border: 1px solid @brand-color-2;
}
.bn-wrapper{
  background-color: @brand-color;
  width:300px;
  display: flex;
  border-top-right-radius: 60%;

}
.bn-icon{
  background: url("../assets/images/B&Nlogo.png");
  width: 65px;
  height: 65px;
  background-size: contain;


}
.bn-caption{
  width: 165px;
  height: 65px;

  color:@brand-text;
  padding-left: 10px;
  border-top-right-radius: 100%;
  background-color:@brand-color-2;


}
.bn-caption-1{
  width: 100%;
  height: 70%;
  font-size: 25px;
  text-decoration: underline;
  display: flex;
  font-weight: 700;
  align-items: flex-end;
}
.bn-caption-2{
  font-size: 15px;
  width: 100%;
  height: 30%;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  font-family: fantasy;
  line-height: 1em;
}

.bn-hamburger{
  width: 35px;
  height: 35px;
  font-size: 35px;
  color: white;
  right:15px;
  position: absolute;
  cursor: pointer;
}
.bn-tabs{
  display: flex;
}

.bn-tabs a{
  text-decoration: none;
  color: #000;
}



.each-tab{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bn-footer a{
  text-decoration: none;
  color: black;
}
.bn-footer a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .each-tab{
    height: 35px;
    font-size: 12px;
    border: none;
    margin: auto;
  }
  .bn-tabs a:hover{
    text-decoration: underline;
  }
  .bn-header{
    border-bottom: 1px solid #fff;
  }
  .bn-footer{
    font-size: 12px;
    position: relative;
    bottom: 0;
  }
  .bn-footer .each-policy{
    line-height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .each-tab{
    flex: 1;
    font-size: 14px;
    height: 45px;
    border: 2px solid #fff;
    font-weight: bold;
    background-color: @brand-color;
  }
  .bn-tabs a:hover{
    color: #fff;
    background-color: #000;
  }
  .bn-footer .each-policy{
    line-height: 1.5em;
  }
}
@media screen and (min-width: 992px) {
  .each-tab{
    font-size: 18px;
  }
}

@media screen and (min-width: 1281px) {
  .each-tab{
    font-size: 20px;
  }
}
