<div class="bn-header">
  <!--    <div class="bn-bg-wrap">
          <div class="bn-wrapper">
              <div class="bn-icon"></div>
              <div class="bn-caption">
                  <div class="bn-caption-1"> B&N </div>
                  <div class="bn-caption-2"> Be Glamorous </div>
              </div>
          </div>
      </div>-->
  <div class="gfw-title">
    <div class="gfw-title-left">
      STAY
    </div>
    <div class="gfw-title-right">
      <div> Glam </div>
      <div> Fit </div>
      <div> Well </div>
    </div>
  </div>
  <div class="bn-hamburger">
    <i class="fas fa-bars"></i>
  </div>
</div>
<div class="bn-tabs">
  <a class="each-tab" routerLink="/"> Home </a>
  <a class="each-tab" routerLink="/skin"> Skin </a>
  <a class="each-tab" routerLink="/hair"> Hair </a>
  <a class="each-tab" routerLink="/lifestyle"> Lifestyle </a>
  <a class="each-tab" routerLink="/relationship"> Relationship </a>
  <a class="each-tab" routerLink="/fashion"> Fashion </a>
  <a class="each-tab" routerLink="/wellness"> Wellness </a>

</div>

<div>
  <!--<a routerLink="/lazy/nested">Lazy_Nested</a>-->
  <router-outlet></router-outlet>
</div>


<div class="bn-footer">
  <a routerLink="/privacy" class="each-policy"> Privacy Policy </a>
  <a routerLink="/cookies" class="each-policy"> Cookie Policy </a>
  <a routerLink="/tos" class="each-policy"> Terms Of Service </a>
  <a routerLink="/about" class="each-policy"> About Us </a>
</div>
