@import "../../../styles";
.cp-headline{
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: @brand-text;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cp-headline h4{
  text-decoration: underline;
  cursor: pointer;
}

.cp-articles-wrapper{
  width: 100%;
  max-width: 970px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.cp-each-article{
  width: 300px;
  height: 400px;
  display: inline-block;
  margin: 10px;

}

.cp-each-article a{
  text-decoration: none;
}

.cp-main-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  overflow: hidden;
}

.cp-content{
  width: 85%;
  height: 60%;

  background-color: rgba(255, 255,255, 0.9);
  color:@brand-text;

  margin: auto;
  position: relative;
  bottom: 40%;
  text-align: center;

  font-size: 25px;

  display: flex;

  padding: 10px;
  flex-direction: column;
  cursor: pointer;

  border: 2px solid @brand-color;
  text-align: center;
}

.cp-para{
  width: 100%;
  height: 40%;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.5em;
  text-align: justify;
}
.cp-button{
  width: 180px;
  height: 30px;
  font-size: 18px;
  background-color: #000;
  color: #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.cp-content:hover .cp-button{
  background-color: @brand-color;
  color: #000;
}

.gfw-img-credits{
  font-size: 12px;
  bottom: 0;
  right: 10px;
  position: absolute;
  font-family: fantasy;

}

.pic-credits{
  width: 100%;
  color:white;
  font-size: 14px;

}

.gfw-scope{
  text-align: left;
  width: 100%;
  height: 25px;
  font-size: 12px;
  font-family: fantasy;
  color: #666;
  text-transform: capitalize;
}

.gfw-article-title{
  max-height: 25%;
  min-height: 25px;
  height: auto;
  width: 100%;
  text-align: left;
  font-size: 25px;
  padding: 10px 0;
  color:#000;
}

@media screen and (max-width: 767px) {
  .cp-articles-wrapper{
    display: flex;
    justify-content: center;
    max-width: 320px;
  }
  .cp-each-article{
    width: 90%;
    display: block;
    margin: 20px;
  }
  .cp-content{
    height: 65%;
  }
  .cp-para{
    height: 25%;
  }

}

@media screen and (min-width: 768px) {
  .cp-each-article{
    min-width: 300px;
    margin: 20px 10px;
  }
  .cp-para{
    height: 30%;
    overflow: hidden;
  }
  .cp-articles-wrapper{
    max-width: 650px;
  }

}

@media screen and (min-width: 992px) {
  .cp-articles-wrapper{
    max-width: 970px;
  }
}

@media screen and (min-width: 1281px) {

}
