<div class="cp-headline" *ngIf="category && category!=='privacy' && category!=='tos' && category !=='cookies' && category !== 'about' ">
  <h4 routerLink="/"> home </h4> <h5> &nbsp; >  &nbsp; </h5> <h1> {{category}} </h1>
</div>
<div class="cp-articles-wrapper">
  <div *ngIf="article_data && category!=='privacy' && category!=='tos' && category !=='cookies' ">

    <div class="cp-each-article" *ngFor="let eacharticle of article_data">
      <img *ngIf="eacharticle.image" class="cp-main-img" src="{{eacharticle.image}}"/>


      <a *ngIf="eacharticle.type==='slide-show' && eacharticle.scope && eacharticle.title " class="cp-content" routerLink="{{eacharticle.id}}/slides">
        <div class="gfw-scope">{{eacharticle.scope}}</div>

        <div class="gfw-article-title">{{eacharticle.title}}</div>
        <div class="cp-para">
          {{eacharticle.description}}
        </div>
        <div class="cp-button"> Read More...</div>
        <div class="gfw-img-credits">{{eacharticle.imageCR}}</div>
      </a>

      <!-- article page -->
      <a *ngIf="eacharticle.type==='article' && eacharticle.scope && eacharticle.title " class="cp-content" routerLink={{eacharticle.id}}>
        <div class="gfw-scope">{{eacharticle.scope}}</div>

        <div class="gfw-article-title">{{eacharticle.title}}</div>
        <div class="cp-para">
          {{eacharticle.description}}
        </div>
        <div class="cp-button"> Read More...</div>
        <div class="gfw-img-credits">{{eacharticle.imageCR}}</div>
      </a>
    </div>
  </div>
  <div *ngIf="category==='privacy'">
    <app-privacy-policy></app-privacy-policy>
  </div>
  <div *ngIf="category==='tos'">
    <app-termsofservice></app-termsofservice>
  </div>
  <div *ngIf="category==='cookies'">
    <app-cookie-policy></app-cookie-policy>
  </div>
</div>
