@import "../../../styles";
.hct-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.hct-container-wrapper{
  width: 100%;
  max-width: 970px;
  display: flex;
  justify-content: center;
}

.hct-container-wrapper a{
  text-decoration: none;
}

.hct-container-each-type{
  z-index: 3;
  background-color: @brand-color-2;
  overflow: hidden;
  cursor: pointer;
}
.hct-container-each-type img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-transition: height .3s; /* Safari */
  transition: height .3s;

}
.hct-container-each-type img:hover{
  width: 100%;
  height: 115%;
}

.hct-container_overlay{

  position: sticky; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  bottom: 0;
  background-color: rgba(181,164,178,0.4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

}

.hct-container_overlay-text{
  font-size: 2.5em;
  font-family: cursive;
  font-weight: 400;
  color: white;

}

@media screen and (max-width: 767px) {
  .hct-container-wrapper{
    flex-direction: column;
  }
  .hct-container-each-type{
    margin: 10px auto;
    border-radius: 50%;
    width:300px;
    height: 400px;
  }

}

@media screen and (min-width: 768px) {
  .hct-container-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hct-container-each-type{
    margin: 10px;
    border-radius: 50%;
    width: 300px;
    height: 400px;
  }

}
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1281px) {

}
