<div class="hct-container">
  <div class="hct-container-wrapper">
    <a class="hct-container-each-type" *ngFor="let each of category_keys" routerLink={{each}}>
      <img src={{articles[each].mainImage}}/>
      <div class="hct-container_overlay">

        <div class="hct-container_overlay-text">
          {{each}}
        </div>
      </div>
    </a>
  </div>
</div>
