/* You can add global styles to this file, and also import other style files */
html, body, .viewport{
  width: 100%;
  height: 100%;
  margin:0;
}

@brand-color: #ccc;
@brand-color-2: #fff;
@brand-text: #666;
@brand-highlight: rgba(255, 255, 0, 0.5);
@brand-highlight2: rgba(181,164,178,0.8);
