@import "../../../styles";
.hc-container{
  width: 100%;
  height: 400px;
  background-color: @brand-color-2;
  background-size: cover;

}

.hc-container-fallback{
  width: 80%;
  margin: auto;
  height: 100%;
  background-color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hc-container_img-1{
  border-right: 5px solid #fff;
  border-bottom-right-radius: 100%;
  background-size: cover;

}

.hc-container_img-2{
  width: 40%;
  height: 100%;
  border-left: 5px solid #fff;
  border-top-left-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px){
  .hc-container{
    display: flex;
    flex-direction: column;
  }

  .hc-container_img-1{
    width: 60%;
    height: 100%;
  }

  .hc-container_img-2{
    width: 70%;
    height: 100%;
  }

}

@media screen and (min-width: 768px) {
  .hc-container{
    display: inline-block;
  }

  .hc-container_img-1{
    width: 40%;
    height: 100%;
    float: left;
  }

  .hc-container_img-2{
    width: 40%;
    height: 100%;
    float: right;
  }

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1281px) {

}
