<div *ngIf="!image1 || !image2 || !image3">
  <div class="hc-container">
    <div class="hc-container-fallback">
      <h1> Your Beauty Regime speaks about your personality. We will help you build the healthy beauty regime so you can respond to your inner Diva </h1>
      <h3> Life is too short to ignore the glam in you. Stay Glam, Stay Fit, Stay Well, Stay You </h3>
    </div>
  </div>
</div>
<div *ngIf="image1 && image2 && image3">
  <div class="hc-container" [ngStyle]="{'background-image': 'url(' + (image1)  + ')'}">
    <div class="hc-container_img-1" [ngStyle]="{'background-image': 'url(' + (image2)  + ')'}"></div>
    <div class="hc-container_img-2" [ngStyle]="{'background-image': 'url(' + (image3)  + ')'}"></div>
  </div>
</div>
