<app-home-canvas></app-home-canvas>
<div class="gfw-caption"> Live a life like Diva </div>
<app-home-categories *ngIf='article_categories && category_keys' [category_keys]="category_keys" [articles]="article_categories"></app-home-categories>
<app-scroller *ngIf="trending_articles" [articlesList]="trending_articles" ></app-scroller>
